*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.intro-text{
    max-width: 670px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1e1e2f;
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    font-size: 1.1rem;
}
.Description{
    max-width: 670px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1e1e2f;
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    font-size: 1.1rem;
} 
}
.logo1{
    width: 20px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:  #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6984e2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.sub-title{
    background-color: #6984e2;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}
.logos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1px));
    gap: 10px;
    padding: 20px;
}
.logos img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.sub-title1{
    background-color: #6984e2;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}
.banners{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1px));
    gap: 20px;
    padding: 20px;
}
.banners img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.sub-title2{
    background-color: #6984e2;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}
.others{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1px));
    gap: 20px;
    padding: 20px;
}
.others img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.btn{
     width: fit-content;
    border: 1px solid #6984e2;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}
.btn.btn2{
    display: inline-block;
    background: #6984e2;
}
.btn2{
    padding: 14px 14px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    background-color: #6984e2;
}
/*---------------css for small screen--------------*/
nav .fa-solid{
    display: none;
}
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #1f2022;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
}
@media only screen and (max-width: 600px){
    .logos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1px));
    gap: 10px;
    padding: 20px;
}
.logos img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.banners{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1px));
    gap: 20px;
    padding: 20px;
}
.banners img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.others{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1px));
    gap: 20px;
    padding: 20px;
}
.others img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
}
